body {
    background-color: white;
}

.main-content{
    align-content: center;
    text-align: center;
}

.main-content img {
    max-width: 350px;
    margin-top: 20px;
}
footer {
    align-content: center;
    text-align: center;
}
footer img {
    max-width: 300px;
    margin-bottom: 0px;
}